/* generalt */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1em;
    line-height: 1.4;
    font-family: Avenir Next, sans-serif;

}


body {
    max-width: 100%;
    margin: 0 auto;
    background-color: #D78B84;
    background-size: cover;
    background-position: center;

}

header{
     position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: #D78B84;

}

a {
    text-decoration: none;
    color: white;
}

/*navigation*/

.menubutton {
    width: 2em;
    height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 10;


}

.bar {
    width: 1.8em;
    /*   hight er sat til px da det giver et pænere visuelt udtryk end ved brug af em*/
    height: 1px;
    background-color: white;
    transition: transform .5s;



}

/*her lavets burgermuen om til et kryds, samt links"bar" dropper ned*/

.kryds .bar1 {
    transform: rotate(45deg) translate(8px, 7px);
}

.kryds .bar2 {
    opacity: 0;
}


.kryds .bar3 {
    transform: rotate(-45deg) translate(8px, -7px);
}



nav {
    position: absolute;
    background-color: #D78B84;
    width: 100%;
    transform: translate(0);
    transform-origin: top;
    transition: transform 5s;
}

.hidden {
    display: none;
    transform: translate();

}

/*slut*/

/*
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #D78B84;
    list-style: none;
    position: fixed;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

}

nav ul li {

    position: relative;
    padding-right: 30px;

}

.dropdown > ul {

    display: none;
    position: absolute;
    background-color: #D78B84;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;


}

.dropdown-content {

    padding-left: 12px;
    padding-top: 12px;
    padding-right: 120px;
    padding-bottom: 12px;

}

.dropdown > ul li {
    white-space: nowrap;
        padding: 0 2em;
}



.dropdown:hover > ul {
    display: block;
}
*/

/*navigation slut*/

#splash img {
    width: 100%;
}
